* {
  box-sizing: border-box;

  --theme-lime: #97bf0f;
  --theme-grey: #efefef;
  --theme-dark-grey: #8c8c8c;
  --heading-font: 'Roboto Condensed', sans-serif;

  text-decoration: none;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

section {
  padding: 4rem 0;
  min-height: 100vh;
  width: 80vw;
}

.background {
  background: url(/public/images/florence-italy.jpg), var(--theme-lime);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.pill {
  --long-end: 3rem;
  --curve: 2rem;

  cursor: pointer;
  background-color: var(--theme-lime);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: var(--curve);
  box-shadow: none;
  padding: 1rem var(--long-end);
}

.pill:disabled {
  background-color: var(--theme-grey);
}

/*
.pill:enabled:hover {
  animation: float infinite 3s ease-in-out;
}
*/

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    filter: brightness(1);
  }

  50% {
    transform: translateY(10px) scale(1.1);
    filter: brightness(1.2);
  }

  100% {
    transform: translateY(0) scale(1);
    filter: brightness(1);
  }
}

.semi.prev {
  border-radius: 0 var(--curve) var(--curve) 0;
  padding-left: var(--long-end);
  padding-right: 1.5rem;
}

.semi.next {
  border-radius: var(--curve) 0 0 var(--curve);
  padding-right: var(--long-end);
  padding-left: 1.5rem;
}

/* Sidebar */
.side-bar-container {
  align-items: center;
  justify-content: space-between;
  border-right: #8c8c8c 1px solid;
  width: 20vw;
  height: 100vh;
}

.body-titles {
  text-decoration: none;
  color: #2c2c2c;
}

.body-titles:not(:last-child):hover h3 {
  color: var(--theme-grey);
  background-color: var(--theme-lime);
  border-radius: 10px;
  padding: 0.25rem;
}

.sign-out {
  background-color: #c12828;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
}

.sign-out:hover {
  background-color: #5b1616;
}

/* Main Page */
.subtitle {
  font-size: 0.9rem;
  color: var(--theme-dark-grey);
}

/* Carausel */
.events-list {
  --diameter: 200px;

  /* --diameter: min(calc(calc(80vw - 26rem) / 3), 200px); */

  /* 26 = 172px, 4rem padding/margin each, growth */
  --growth: 50px;

  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

/* Event */
.event-card {
  align-items: center;
  justify-content: center;
  color: black;
  padding: 1rem;
  margin: 1rem;
}

.circle {
  position: relative;
  height: var(--diameter);
  width: var(--diameter);
  border-radius: 50%;
  overflow: hidden;
  border: 4px groove var(--theme-lime);
  transition: all 1s ease-in-out;
}

.event-card:hover .circle {
  height: calc(var(--diameter) + var(--growth));
  width: calc(var(--diameter) + var(--growth));
  border-radius: 1rem;
  box-shadow: 0 0 0 8px white inset;
}

.circle > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  transition: all 1s ease-in-out;
}

.event-card-details {
  margin: 0;
  font-size: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.event-card:hover .event-card-details {
  font-size: 1rem;
  opacity: 0.3;
}

.events-list .pill {
  margin-top: calc(var(--diameter) / 2);
}

/* DetailsPage */
.details {
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.side {
  padding: 2rem;
}

.left {
  align-items: flex-start;
  justify-content: space-between;
}

.left > img {
  max-width: 60vw;
  max-height: calc(100vh - 13rem);
  border: 4px groove var(--theme-lime);
  margin-bottom: 1rem;
}

.right {
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li:nth-child(odd) {
  background-color: #e2e3e5;
}

li.row {
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

li.row :first-child {
  margin-right: 3rem;
}

/* Events Page */
#event-name {
  justify-content: space-between;
  margin: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background: #fff;
  border: 1px solid #e2e3e5;
  border-radius: 10px;
  align-items: center;
}

.delete-btn {
  cursor: pointer;
  height: 35px;
  width: 100px;
  background: #cc0003;
  color: #fff;
  padding: 3px;
  border: 1px solid #cc0003;
  border-radius: 10px;
  transition: all 500ms;
}

.delete-btn:hover {
  background: #fff;
  color: #cc0003;
  border: 1px solid #cc0003;
  font-size: 15px;
  height: 40px;
  width: 110px;
}

/* Reserve Page */
.reserve {
  align-items: center;
  justify-content: center;
  color: white;
  min-height: 500px;
}

.center {
  max-width: 477px;
}

hr {
  width: 80%;
}

.border {
  border: 2px solid white;
  margin: 1rem;
  margin-top: 0;
  width: 315px;
}

.white {
  background-color: white;
  color: var(--theme-lime);
}

.react-datepicker__day--in-range {
  background-color: var(--theme-lime) !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #b6e222 !important;
}

/* Add event page */

.add-event-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background: url(/public/images/musical_festival.jpg), var(--theme-lime);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
}

.add-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

#submit-event {
  margin-top: 40px;
  border-radius: 0.5rem;
  border: none;
  margin-right: 10px;
  padding: 0.75rem 2.5rem;
  background-color: white;
  color: var(--theme-lime);
  font-size: 0.85rem;
  font-weight: bold;
}

input::file-selector-button {
  background-color: var(--theme-lime);
  color: white;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  border: white 0.5px solid;
  box-shadow: none;
  font-size: 0.85rem;
  font-weight: bold;
}


/* About page */

.authors-div-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
}

.about-text {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 1rem 3rem;
}
.about-icons {
  text-decoration: none;
  color: black;
}