* {
  box-sizing: border-box;

  --theme-lime: #97bf0f;
  --theme-grey: #efefef;
  --theme-dark-grey: #8c8c8c;
  --heading-font: 'Roboto Condensed', sans-serif;

  text-decoration: none;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

section {
  padding: 4rem 0;
  min-height: 100vh;
}

/* Main Page */
.subtitle {
  font-size: 0.9rem;
  color: var(--theme-dark-grey);
}

/* Carausel */
.events-list {
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Event */
.event-card {
  align-items: center;
  justify-content: center;
  color: black;
  padding: 1rem;
  margin: 1rem;
}

.circle {
  --diameter: 200px;

  position: relative;
  height: var(--diameter);
  width: var(--diameter);
  border-radius: 50%;
  overflow: hidden;
  border: 4px groove var(--theme-lime);
  transition: all 1s ease-in-out;
}

.event-card:hover .circle {
  --growth: 50px;

  height: calc(var(--diameter) + var(--growth));
  width: calc(var(--diameter) + var(--growth));
  border-radius: 1rem;
  box-shadow: 0 0 0 8px white inset;
}

.circle > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  transition: all 1s ease-in-out;
}

.event-card-details {
  margin: 0;
  font-size: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.event-card:hover .event-card-details {
  font-size: 1rem;
  opacity: 0.3;
}

.green {
  --long-end: 3rem;
  --curve: 2rem;

  cursor: pointer;
  background-color: var(--theme-lime);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: var(--curve);
  box-shadow: none;
  padding: 1rem var(--long-end);
}

.green:disabled {
  background-color: var(--theme-grey);
}

.green:enabled:hover {
  animation: float infinite 3s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    filter: brightness(1);
  }

  50% {
    transform: translateY(10px) scale(1.1);
    filter: brightness(1.2);
  }

  100% {
    transform: translateY(0) scale(1);
    filter: brightness(1);
  }
}

.semi.prev {
  border-radius: 0 var(--curve) var(--curve) 0;
  padding-left: var(--long-end);
  padding-right: 1.5rem;
}

.semi.next {
  border-radius: var(--curve) 0 0 var(--curve);
  padding-right: var(--long-end);
  padding-left: 1.5rem;
}

/* DetailsPage */
.details {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.side {
  padding: 2rem;
}

.left {
  align-items: flex-start;
  justify-content: space-between;
}

.left > img {
  max-width: 60vw;
  max-height: calc(100vh - 13rem);
  border: 4px groove var(--theme-lime);
  margin-bottom: 1rem;
}

.right {
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li:nth-child(odd) {
  background-color: #e2e3e5;
}

li.row {
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

li.row :first-child {
  margin-right: 3rem;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: #8c8c8c 1px solid;
  width: 20%;
  height: 100vh;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100vh;
}

.body-titles {
  text-decoration: none;
  color: #2c2c2c;
}

.body-titles:not(:last-child):hover h3{
  color: var(--theme-grey);
  background-color: var(--theme-lime);
  border-radius: 10px;
  padding: 0.25rem;
}

.sign-out {
  background-color: #c12828;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
}

.sign-out:hover {
  background-color: #5b1616;
}