* {
  box-sizing: border-box;

  --theme-lime: #97bf0f;
  --theme-grey: #efefef;
  --theme-dark-grey: #8c8c8c;
}

.App {
  text-align: center;
}

/* Main Page */
.subtitle {
  font-size: 1rem;
  color: var(--theme-dark-grey);
}

#event-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.circle {
  --diameter: 200px;

  position: relative;
  height: var(--diameter);
  width: var(--diameter);
  border-radius: 50%;
  overflow: hidden;
  border: 4px groove var(--theme-lime);
  transition: all 1s ease-in-out;
}

.event-card:hover .circle {
  --growth: 50px;

  height: calc(var(--diameter) + var(--growth));
  width: calc(var(--diameter) + var(--growth));
  border-radius: 1rem;
  box-shadow: 0 0 0 8px white inset;
}

.circle > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-position: center;
  transition: all 1s ease-in-out;
}

.event-card-details {
  margin: 0;
  font-size: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.event-card:hover .event-card-details {
  font-size: 1rem;
  opacity: 0.3;
}

.semi {
  --bs: 1rem;
  --bl: 3rem;
  --br: 2rem;

  cursor: pointer;
  background-color: var(--theme-lime);
  color: white;
  padding: var(--bs) var(--bs) var(--bs) var(--bl);
  border-radius: 0 var(--br) var(--br) 0;
  font-weight: bolder;
  border: none;
  box-shadow: none;
}

.semi:disabled {
  background-color: var(--theme-grey);
}

.semi:enabled:hover {
  animation: float infinite 3s ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    filter: brightness(1);
  }

  50% {
    transform: translateY(10px) scale(1.1);
    filter: brightness(1.2);
  }

  100% {
    transform: translateY(0) scale(1);
    filter: brightness(1);
  }
}

.semi.next {
  border-radius: var(--br) 0 0 var(--br);
  padding: var(--bs) var(--bl) var(--bs) var(--bs);
}

/* DetailsPage */
#details {
  display: flex;
}

.side {
  padding: 2rem;
}

.left image {
  max-width: 75vw;
}

.right * {
  text-align: right;
}

.right ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.right ul li {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.right ul li :first-child {
  margin-right: 3rem;
}
.right ul li:nth-child(odd) {
  background-color: #e2e3e5;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: #8c8c8c 1px solid;
  width: 20%;
  height: 100vh;
}

.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-section {
  width: 80%;
  height: 100vh;
}

.body-titles {
  text-decoration: none;
  color: #2c2c2c;
}

.body-titles:hover {
  text-decoration: underline;
}